<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>挖宝</title>
    <style>
      html,
      body {
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      }

      #app {
        width: 100%;
        font-size: 1rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .main > * {
        margin-bottom: 16px;
      }

      .rank {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>挖宝</h1>
      <div class="main" v-if="!started">
        <div>
          <input v-model="name" placeholder="留下您的大名开挖" />
        </div>
        <div>
          <button :disabled="!canStart" @click="start">开挖</button>
        </div>
      </div>
      <div class="main" v-else>
        <div>宝藏在{{min}}~{{max}}之间</div>
        <div>
          <input v-model="pos" type="number" :max="max-1" :min="min+1" />
        </div>
        <div>
          <button @click="dig">挖</button>
        </div>
      </div>
      <div class="rank">
        <h2>挖王榜</h2>
        <table v-if="!!rank.length" align="center">
          <thead>
            <td>排名</td>
            <td>时间</td>
            <td>挖宝人</td>
            <td>次数</td>
          </thead>
          <tbody>
            <tr v-for="(item,index) in rank" :key="item.name">
              <td>{{index+1}}</td>
              <td>{{item.time}}</td>
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
            </tr>
          </tbody>
        </table>
        <h3 v-else>榜上无人，速来打榜！</h3>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            started: false,
            id: "",
            name: "",
            min: 0,
            max: 0,
            pos: 0,
            rank: [],
          };
        },

        computed: {
          canStart: function () {
            return !!this.name;
          },
          canDig: function () {
            return this.pos > this.min && this.pos < this.max;
          },
        },

        mounted() {
          console.log(1);
          this.refreshRank();
        },

        methods: {
          refreshRank() {
            fetch("/api/rank", { method: "get" })
              .then((resp) =>
                resp
                  .json()
                  .then((json) => (resp.ok ? json : Promise.reject(json)))
              )
              .then(
                (json) =>
                  (this.rank = json.map((v) => ({
                    ...v,
                    time: new Date(v.time).toLocaleString(),
                  })))
              )
              .catch((error) => alert(error.message));
          },

          start() {
            let form = new FormData();
            form.append("name", this.name);
            fetch("/api/newgame", { method: "post", body: form })
              .then((resp) =>
                resp
                  .json()
                  .then((json) => (resp.ok ? json : Promise.reject(json)))
              )
              .then((json) => {
                this.started = true;
                this.id = json.id;
                this.min = json.min;
                this.max = json.max;
                this.pos = this.min + 1;
              })
              .catch((error) => alert(error.message));
          },

          dig() {
            fetch(`/api/games/${this.id}/dig/${this.pos}`, { method: "post" })
              .then((resp) =>
                resp
                  .json()
                  .then((json) =>
                    resp.ok
                      ? json
                      : Promise.reject({ status: resp.status, data: json })
                  )
              )
              .then((json) => {
                // 挖完了
                if (json.status === 0) {
                  if (json.win) {
                    alert(`你赢了，挖宝次数为${json.count}次。`);
                  } else {
                    alert(`你输了，宝藏在${json.result}处。`);
                  }
                  this.refreshRank();
                  this.started = false;
                } else {
                  this.min = json.min;
                  this.max = json.max;
                  this.pos = this.min + 1;
                }
              })
              .catch((error) => {
                alert(error.data.message);
                if (error.status == 404) {
                  this.started = false;
                }
              });
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
